

<footer >
  <div class="f-info m-5W text-center">
    <img src="../imgs/AElogo.png" alt="">
     
    <div class="f-info-socials">

    </div>
    <div>
      <p>© 2024 AtharvaEnergy <br> <br>
      Bibinagar,Telangana, INDIA <br>
        info@example.com</p>
    </div>
    <div class="f-social-icons" >
     <a href=""><i class="fa-brands fa-instagram"></i>&nbsp; </a>
     <a href=""><i class="fa-brands fa-twitter"></i>&nbsp;  </a> 
     <a href=""><i class="fa-brands fa-facebook"></i>&nbsp;  </a> 
     <a href=""><i class="fa-brands fa-linkedin"></i>&nbsp;  </a> 
     <a href=""><i class="fa-brands fa-whatsapp"></i>&nbsp;  </a> 
    </div>
    <div class="f-info-links ">
      <a href="/privacy">Privacy</a>
      &nbsp;
      <a href="/terms">Terms</a>
    </div> 
  </div>

   


  </footer>