<% layout("/layouts/boilerplate") %>
<body>
    
    <center>
  
        <u>
          <h1>Contact us </h1>
        </u>
        <br><br>
        <p class="lead">
          Whatsapp number  <i class="fa-brands fa-whatsapp"></i>&nbsp;:  <br>
          phone number  <i class="fa-solid fa-phone"></i>   &nbsp;    :  <br>
          Email id   <i class="fa-regular fa-envelope"></i>  &nbsp;  : <B>atharvaenergies@gmail.com</B> <br>
        
        </p>
        </center>
        
        


</body>