

body{
    background-color: black ;
    color: blueviolet;
}

/* .hero-section {
    background-image: url('../imgs/bgMAIN.jpg');
    background-size: cover;
    height: 100vh;
} */

/* footer */

    .f-info-links a {
        text-decoration: none;
        color: #222;
    }
footer{
    background-color: black !important;
}


